#header{
	background:#1976D2;
	padding: 20px;
	height: 20%;
}

body{
	font-family: Helvetica, Arial;
	    display: block;
	    margin:0 auto;
	    height: 100%;
}

#header h1{
	margin: 0px;
	margin-left: 15px;
	padding-left:10px;
	padding-right: 10px;
	line-height: 55px;
	font-size: 25px;
	text-transform: uppercase;
	color: white;
	float: left;
}

.clearfix{
	float:none;
	clear:both;
	text-decoration: none;
	list-style: none;
}

nav{
	width: 100%;
	background: #F2F2F2;
	height: 100%;
	min-height: 100%;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

nav li a {
    display: block;
    color: #000;
    padding: 15px 16px;
    text-decoration: none;
}

.menuSelected {
    background-color: #E6E6E6;
    font-weight:bold;
}

.changeImageVentas{
   content: url('../img/ventas_2.png');
}

.ImageVentas{
   content: url('../img/ventas_1.png');
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #E6E6E6;
}

nav img{
		width: 25px;
		display: block;
		float: left;
		padding: 10px;
		padding-left: 15px;
}

nav hr{
	margin-left: 10px;
	margin-right: 10px;
}

.contenedor{
	width: 100%;
	height: 80%;
    min-height: 100%;
	margin: 0 auto;
	border: 0px solid #ccc;
	box-shadow: 0px 4px 0px #ddd;
	position: absolute;
	
}

.izq{
	width: 15%;
	height: 100%;
	float: left;
}


.der{
	width: 85%;
	height: 100%;
	float: left;
}


.nvdato input{
	padding:8px;
	display:block;
	border:none;
	width: 90%;
	border-bottom:1px solid #ccc;
	color: #1976D2;
}

#selectTP{
display:block;
width: 90%;
}

.nvdatos{
	padding: 10px;
}

.nvdato{
	margin-top: 10px;
	width: 33%;
	float: left;
}

.nvdato2{
	font-size: 15px;
}

#folio{
	float: right;
	margin-right: 50px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px; 
}

#folio span{
	color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr{
	background-color:#f1f1f1;
}
tr:hover{background-color:#f5f5f5}

.table{
	padding: 10px;
	margin: 5px;
	height: 210px;
	overflow: scroll;
}

.compra{

}

.listMuebles{
	width: 30%;
	height: 300px;
	float: left;
	margin-top: 5px;	
	overflow: scroll;

}

.listMuebles ul{
	list-style-type: none;
    margin: 10px;
    padding-right:15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f1f1f1;
}

.listMuebles li{
	border-bottom: 1px solid white;
	padding: 9px;
}

li #plus{
	float: right;
	margin-left: 20px;
	display: block;
}

li #plus2{
	border-radius:50%;
	background:#1976D2;
	border:none;
	color: white;
	float: right;
}

li #plus2:hover{
	background:green;
}

.compra .resumen{
	width: 70%;
	height: 300px;
	float: left;
	overflow: scroll;
}

.filtroVenta{
	padding: 10px; 
}

.venta .resumen{
	width: 100%;
	height: 300px;
	float: left;
	overflow: scroll;
}

.aceptarVenta{
	margin :15px;
}

.aceptarVenta button{
	float: right;
	background: #1976D2;
	color: white;
	border:none;
	border-radius: 20px;
	padding: 15px;
	padding-left: 60px;
	padding-right: 60px;
	cursor: pointer;
}

.aceptarVenta button:hover{
	background: green;
	color: white;
}

.aceptarVenta span{
	color: #1976D2;
	font-size: 30px;
}

#titulo{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	color: #000;
	text-transform: uppercase;
}
